extend layout
block content
  .ui.raised.segment#mainbox
    h1.ui.hidden.header
    h1.ui.huge.header#top Attributions
    h2.ui.header General Support
    h5.ui.header Professor Chieh-Chen Huang
    h5.ui.header Professor Chun-Liang Lin
    h5.ui.header National Chung Hsing University
    img.ui.centered.medium.image(src='http://2018.igem.org/wiki/images/6/65/T--NCHU_Taichung--NCHUloggo.jpeg')
    h2.ui.header Financial Supports
    h5.ui.header Ministry of Education
    img.ui.centered.medium.image(src='http://2018.igem.org/wiki/images/a/a2/T--NCHU_Taichung--EDUmin.png')
    h5.ui.header National Chung Hsing University: The Office of Research and Development
    .ui.image.fluid#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/4/41/T--NCHU_Taichung--%E7%A0%94%E7%99%BC%E8%99%95.jpeg')
    h5.ui.header National Chung Hsing University Center for Development of Learning: 
    p  Problem Based Learning Project
    p  Student Creation and Learning Plan
    .ui.image.fluid#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/4/41/T--NCHU_Taichung--%E7%A0%94%E7%99%BC%E8%99%95.jpeg')

    h2.ui.header Wet Lab

    p Lab Instruments
    ul
      li Professor Huang Chieh Chen provides us lab instruments.
      li Professor Hui-Min David Wang provides us lab instruments.
      li Dr. Phil (Pei-Hong) Chen provides us lab instruments.
      li Professor Hung Hui Chih provides us lab instruments to complete interlab.
      li Kuang Ren Chung provides us lab instruments.
      li Professor Chen Yu Ting provides us lab instruments to purification protein.

    p Project Support & Technical Advice
    ul
      li Professor Huang Chieh Chen provides us technical advice for the whole wet experimental.
      li Professor Yaz Hisai Tung provides us technical advice.
      li Wan Ming Ren and Wang Tian provides us technical advice for interlab
      li ShanghaiTech University provides us technical advice.
      li Chung Shang Media University provides us technical advice.
      li Dr. Phil (Pei-Hong) Chen provides us technical advice for Gene Functional Test

    p Materials
    ul
      li Professor Pi Fang Chang provides us Arabidopsis thaliana seeds as materials for Plant Experiments
      li I-Chun Pan provides us Arabidopsis thaliana seeds as materials for Plant Experiments
      li Herman Spaink’s Lab, Leiden University provides us Plasmid
      li LAI,ZI-LUN Provide us cells (Hep G2)
      li Kenneth Peterson's Lab provides us Plasmid
    
    
    p Human Practice (see HP)
    ul
      li Agricultural Chemicals and Toxic Substances Research Institute(TACTRI)
      li EPA Environmental Inspection
      li Houli Refuse Incinerator Plant
      li China Petrochemical Development Corporation
      li Dajing Biological Engineering Company


    Training

    .ui.header  Dong-Yan Wu guides us in most wet lab experiments.
        Liou Li Heng guides us cell test.
        Fu Ling guide us the experiment of toxicology test

    .ui.header Suggestions
      ul  Ji    n Wei Zhi    
        li Lin Zi Yu 
        li Chen You Jie
        li liGao Nai Ci
        li  Yu Man Yun
        li Liu Xuan You
        li Yu Yan Ting
        li Cai Yi Xin
        li Yu Lin
        li Shou Zhen

    h3.uiOther

    p National Chung Hsing University Office of Student Affairs: Extracurricular Activities
    .ui.stackable.grid.container
      .eight.wide.column
        .ui.image#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/f/ff/T--NCHU_Taichung--attr1.jpeg')
          .ui.bottom.attached.label iGEM NYMU-Taipei 10 Years Exhibition
      .eight.wide.column
        .ui.image#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/3/39/T--NCHU_Taichung--attr2.jpeg')
          .ui.bottom.attached.label CSMU iGEM Open House
      .eight.wide.column
        .ui.image#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/b/bb/T--NCHU_Taichung--attr3.jpeg')
          .ui.bottom.attached.label Dr. Pan gave us plant for our experiment
      .eight.wide.column
        .ui.image#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/8/87/T--NCHU_Taichung--attr4.jpeg')
          .ui.bottom.attached.label Dr. Chen, Wen-Liang