extend layout
block content
  .ui.raised.segment
    h1.ui.hidden.header
    .ui.huge.header#top Collaborations
    .segment
      h2.ui.header 1. 6th Asia Pacific iGEM Conference
      .ui.image.fluid#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/2/29/T--NCHU_Taichung--AP_conf.jpg')
        .ui.pointing.label Figure 1. BBa_K2546004 RE digestion result: Using EcoRI and PstI or XbaI and SpeI to proof that we have complete BBa_K2546004
        .ui.hidden.header
      p  The conference was held from July 30th, 2018 to August 2nd, 2018. During the four-day event, more than 22 teams, 3 countries, 140 people, 3 speakers and 6 mentors got to have communication and presentation just as the iGEM Conference used to do. It is not only a simulation event before the world conference in October, but also a great chance for teams to build up collaborations and make friends with all the iGEMers.
      p
    .segment
      h1.ui.hidden.header
      h2.ui.header  ShanghaiTech iGEM
      .ui.image.fluid#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/4/42/T--NCHU_Taichung--hp_7.jpeg')
      .ui.hidden.header
      .ui.stackable.grid.container
        .row
          p Thanks to ShanghaiTech iGEM team for visiting the company and bringing our questions to get feedback as below:
          p 
            b
              i Q: The plant Vetiveria zizanioides is an example of phytoremediation. According to this fact, endosymbiotic microorganism should be able to multiply. How do you examine the sample of soil microorganism on the effect of it?
            br
            | A: By testing the quantity of the chemical aimed in degradation.
          p 
            b
              i Q: Does the application of genetic modified microorganism have environmental concern?
            br
            | A: We don’t have any applications in this field.
    .segment
      h1.ui.hidden.header
      h2.ui.header  Mingdao
      .ui.stackable.grid.container
        .row
          .six.wide.column 
            .ui.image.fluid#labelImg
              img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/1/1e/T--NCHU_Taichung--mingdao.png')
          .ten.wide.column
            p Mingdao helped us host the 6th Asia-Pacific iGEM Conference. Besides, we went to their lab for OD measuement. Beacause of the instrument problems, we wasted a lot of time on it, however, we still didn’t have any result. 
            p In contrast, we fund Mingdao was we introduced MIngdao to the Mosquito Lab in our school, and helped them to microject DNAs.
    .segment
      h1.ui.hidden.header
      h2.ui.header  TU Darmstadt
      
      .ui.image.fluid#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/f/f1/T--NCHU_Taichung--TU.png')
      .ui.hidden.header
      p We contacted team TU_Darmstadt to search for help and advice in June. Because this is the first year for our team to participate in iGEM competition, we are unfamiliar with operating such a project requiring cross-disciplinary collaboration. 

      p TU Darmstadt is an outstanding team participating in iGEM competition for years. We hoped to learn how they organize a successful team in both short term and long term. Since one of our team member Yu-Hsuan was studying in Darmstadt, they kindly invited her to visit them.

      p During the meeting with TU Darmstadt, they shared their experience and a lot of great ideas about team building, project designing, fundraising, and more. We also shared ideas about our projects with each other. After talking to them, we were much clearer about what to do next.

      p We greatly appreciate the advice and motivation given by team TU Darmstadt, and wish them all the best at the Giant Jamboree!
    .segment
      h1.ui.hidden.header
      h2.ui.header  HUST-China
      .ui.stackable.grid.container
        .row
          .six.wide.column 
            .ui.image.fluid#labelImg
              img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/0/05/T--Tianjin--HUST.png')
          .ten.wide.column
            p NCHU_Taichung was the first time to join iGEM. Early in our tram's formation, we usually encountered some problems with no direction at all. Modeling was one of them. We didn't even know how to start, and what we should do. At that time, HUST-China contacted us. They needed the shuttle plasmid of Rhodopseudomonas palustris-E. coli from our PI. We help them get the plasmid and gave some suggestions on cultivation and transformation. Simultaneously, when HUST-China knew that we were frustrated with modeling, they gave advice on the direction of modeling, and help us to build it. 
