extends layout
block content
  .ui.segment#topSeg
    h1.ui.hidden.header
    h1.ui.huge.header Demonstrate
    .ui.hidden.header
    h2.ui.dividing.header Endophyte Engineering
    p.longP During Vietnam War, the herbicide, Agent Orange was used by the U.S. military as a defoliant. Agent Orange contains TCDD, which is the most toxic of the dioxins. The use of Agent Orange has left serious and long-term health impacts upon the Vietnamese people and their offspring. 

    .ui.hidden.header
    h2.ui.dividing.header Dioxin Bioremediation
    p.longP During Vietnam War, the herbicide, Agent Orange was used by the U.S. military as a defoliant. Agent Orange contains TCDD, which is the most toxic of the dioxins. The use of Agent Orange has left serious and long-term health impacts upon the Vietnamese people and their offspring. 
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/8/8b/T--NCHU_Taichung--VETIVER3.png')
      .ui.pointing.label 圖片範例