extends layout
block content
  .ui.segment#topSeg
    h1.ui.hidden.header
    h1.ui.huge.header Description
    .ui.hidden.header
    h2.ui.dividing.header Where our ideas come from: dioxin in our daily life
    p Dioxins are a group of toxic compounds, also are persistent environmental pollutants (POPs). Exposed in dioxin can lead to serious health damage, such as disrupting immune system, interfering with hormones, and causing cancer.
    video(width='100%', controls='', preload="auto", autoplay, loop)
                source(src='http://2018.igem.org/wiki/images/8/82/T--NCHU_Taichung--description.mp4', type='video/mp4')
    .ui.hidden.header
    h2.ui.dividing.header Dioxin as a world problem: Vietnam War
    p During Vietnam War, the herbicide, Agent Orange was used by the U.S. military as a defoliant. Agent Orange contains TCDD, which is the most toxic of the dioxins. The use of Agent Orange has left serious and long-term health impacts upon the Vietnamese people and their offspring. 
    .ui.hidden.header
    h2.ui.dividing.header The main problem: dioxin contaminated soil
    p To find out possible resolution to clear dioxin in large size of land, we looked into another case of dioxin contamination, China Petrochemical Development Corporation (CPDC) An-Shun site, located in Tainan City, Taiwan.
    h2.ui.dividing.header Our method: Engineered Endophyte-Assisted Phytoremediation
    p In former research, an endophyte, Burkholderia cenocepacia 869T2, has been isolated from the plant, Vetiver, in the contaminated land in Tainan, and proved having the ability to break down TCDD.
    h2.ui.dividing.header Future vision: eco-friendly and cost-efficient
    p From burning waste to Agent Orange,
    p …..
    p To create an eco-friendly and cost-efficiency solution……  