extend layout
block content
  .ui.raised.segment#mainbox
    .segment
      h1.ui.hidden.header
      h1.ui.huge.header#top Entrepreneurship
      h2.ui.left.aligned.dividing.header Introduction
      h3.ui.header Overview
      p After visiting and having discussions with Houli Refuse Incinerator Plant and China Petrochemical Development Corporation, we’ve got some idea about entrepreneurship.
      .ui.stackable.grid.container
        .row
          .eight.wide.column
            .ui.image#labelImg
              img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/c/cb/T--NCHU_Taichung--hp_6.jpeg')
              .ui.bottom.attached.label China Petrochemical Development Corporation
          .eight.wide.column
            .ui.image#labelImg
              img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/1/16/T--NCHU_Taichung--hp_3.jpeg')
              .ui.bottom.attached.label Houli Refuse Incinerator Plant
      h3.ui.header Problem
      p Concluded from the visits, we found that heat method, burning down dioxin with high temperature, is the major application in industries while microorganism method is rarely used. This is due to the uncertainty and technique limitation of applying this method. More research needs to be done before the method can be widely utilized. However, once it is being used, numerous advantages is sure to be obtained.
      h3.ui.header Solution
      p Since both the agencies mentioned above are eagerly looking forward to our result, it is our later work to repeat the test on our product, collaborate with agencies and bring our result out the lab to engineered-applied level.
      h3.ui.header Product
      p According to our project, Engineered Endophyte-Assisted Phytoremediation, we’re putting dioxin-degrade genes into plant. The plant is our product.
      //-------- section --------
      h2.ui.left.aligned.dividing.header Business Model
      .ui.celled.grid
        .row
          .ui.three.column.divided.grid
            .column 
              h4.ui.left.aligned.header KEY PARTNERS
              ol.ui.list
                li(value='・') Houli Refuse Incinerator Plan
                li(value='・') China Petrochemical Development Corporation
            .column
              h4.ui.left.aligned.header KEY ACTIVITIES
              ol.ui.list
                li(value='・') Research Development
                li(value='・') Product Development
                li(value='・') Ground Test
            .column 
              h4.ui.left.aligned.header KEY RESOURCES
              ol.ui.list
                li(value='・') Industries
                li(value='・') Eco-friendly Institutions
                li(value='・') Agricultural Chemicals and Toxic Substances Research Institute(TACTRI)
                li(value='・') EPA Environmental Inspection
        .row
          .ui.two.column.divided.grid
            .column 
              h4.ui.left.aligned.header APPLIED METHODS
              ol.ui.list
                li(value='・') Plant Our Product in China Petrochemical Development Corporation
            .column
              h4.ui.left.aligned.header APPLIED FIELD
              ol.ui.list
                li(value='・') Dioxin-polluted area
                li(value='・') Vietnam
        .row
          .ui.three.column.divided.grid
            .column
              h4.ui.left.aligned.header COST STRUCTURE
              ol.ui.list
                li(value='・') Research and Development
                li(value='・') Marketing
                li(value='・') Promotion
            .column
              h4.ui.left.aligned.header REVENUE STREAMS
              ol.ui.list
                li(value='・') Direct income
                li(value='・') Government Subsidy
            .column
              h4.ui.left.aligned.header SALE CHANNELS
              ol.ui.list
                li(value='・') Website
                li(value='・') Apps
                li(value='・') Market
                li(value='・') Plant stores
                li(value='・') Related Government Agencies
      //-------- section --------
      h2.ui.left.aligned.dividing.header Marketing Analysis
        .sub.header SWOT Analysis
      .ui.celled.grid
        .row
          .ui.two.column.divided.grid
            .column
              h4.ui.left.aligned.header Strengths
              ol.ui.list
                li(value='・') Product & Market Research
                li(value='・') Emphasis on environmental sustainability
                li(value='・') Company development through collaboration with China Petrochemical Development Corporation
                li(value='・') Product development
            .column
              h4.ui.left.aligned.header Weaknesses
              ol.ui.list
                li(value='・') Experiment break through
                li(value='・') Foundation
        .row
          .ui.two.column.divided.grid
            .column
              h4.ui.left.aligned.header Opportunities
              ol.ui.list
                li(value='・') New product
                li(value='・') Potential for product patent
                li(value='・') Lower cost compared to other dioxin-break-down methods
            .column
              h4.ui.left.aligned.header Threats
              ol.ui.list
                li(value='・') New application: lower acceptance
                li(value='・') With genetic modified microorganism: still a controversial issue
      //-------- section --------
      h2.ui.left.aligned.dividing.header Agency and  Enterprise Visit
      h3.ui.header Houli Refuse Incinerator Plant
      .ui.image#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/1/16/T--NCHU_Taichung--hp_3.jpeg')
        .ui.bottom.attached.label Houli Refuse Incinerator Plant
      .ui.hidden.header
      p We saw how garbage is being burned down and in order to avoid the production of dioxin(250 ℃ ~400 ℃ is especially significant), temperature is being controlled. In addition to this, after garbage is fully burned, two chemicals is formed: incinerator bottom ash and fly ash. Fly ash is should be carefully coped with. They use active charcoal to stabilize fly ash and together cleaned out with bottom ash. Product such as brick is made by mixing ashes with concrete. 
      p The major method using in the incinerator is heat method, as mentioned previously, breaking down dioxin by extremely high temperature. They’re interested in the method using in our project, microorganism method. Since dioxin is hydrophobic, it appears in soil most of the time. If we can successfully applied our method by phytoremediation, plant would be able to be cropped and break down dioxin in a nature way.
      h3.ui.header China Petrochemical Development Corporation
      .ui.image#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/c/cb/T--NCHU_Taichung--hp_6.jpeg')
        .ui.bottom.attached.label China Petrochemical Development Corporation
      .ui.hidden.header
      p We got the permission to enter the most dioxin-polluted area in the world and got to know procedures they’re applying to break down dioxin in soil. The major methods are wet method and heat method while microorganism method is still under breakthrough. Since this method is what we’re doing, they are highly interested in and looking forward to our application later in the future. 
      p Additionally, we had planted several of our experimental plant (Vetiveria zizanioides) in the area and will test the concentration of dioxin in the soil to if the plant is sure to break down dioxin few months later.
      h2.ui.left.aligned.dividing.header Analysis
      h3.ui.header Doubts
      ol.ui.ordered.list
        li The safety of our product should be carefully exercised.
        li If the product does work, how’s the dioxin degradation rate?
      h3.ui.header Future Development
      p Once our product enters market in the future, further achievement and development should be done in order to meet needs of different companies in different area. 
      p Following is the list:
      ol.ui.ordered.list
        li Increase research and development for higher degradation rate product.
        li Develop a sensor of testing dioxin concentration that can be easily used under low cost.
        li Think of proper promoting methods.
        li Channeling resources into manufacturing to distribute our product on the market.
        li Examine a faster way to manufacture our product.