.ui.inverted.vertical.footer.segment
  .ui.center.aligned.container
    .ui.hidden.divider
    h4.ui.inverted.header#foot Follow us on
    .ui.massive.horizontal.inverted.divided.list
      .item
        a(href='https://www.instagram.com/nchuigem/', target='blank') 
          i.instagram.icon
      .item
        a(href='https://www.facebook.com/NCHU.iGEM/', target='blank') 
          i.facebook.icon
    .ui.hidden.divider