extend layout
block content
  .ui.raised.segment#mainbox
    h1.ui.hidden.header
    h1.ui.huge.header#top Conferences & Meet ups
    p It is always great to have communication with other teams all over the world. By sharing ideas, discussing with each other, better approach often came up. Particularly, it is our pleasure to hold 2018 Asia-Pacific Conference and get to meet other teams in Taiwan, China, and Japan.
    .segment
      h1.ui.hidden.header
      //-------- section odd--------
      h2.ui.left.aligned.dividing.header 2018 6th Asia-Pacific iGEM Conference
      .ui.stackable.grid.container
        .row
          .sixteen.wide.column
            p The conference was held from July 30th, 2018 to August 2nd, 2018. During the four-day event, more than 20 teams got to have communication and presentation just as the iGEM Conference used to do. It is not only a simulation event before the world conference in October, but also a great chance for teams to build up collaborations and make friends with all the iGEMers.
        .row
          .ui.image#labelImg
            .ui.teal.ribbon.large.label Held by NCHU_Taichung
            img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/4/48/T--NCHU_Taichung--hp_intro_5.jpeg')
            .ui.bottom.attached.label 2018 6th Asia-Pacific iGEM Conference
      //-------- section even--------
      h2.ui.left.aligned.dividing.header Conferences & Meet ups in Taiwan
      .ui.stackable.grid.container
        .row
          .seven.wide.column
            .ui.image#labelImg
              img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/5/5a/T--NCHU_Taichung--hp_conf_1.jpeg')
              .ui.bottom.attached.label 2017 iGEM Taiwan Conference
          .six.wide.column
            .ui.image#labelImg
              img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/9/99/T--NCHU_Taichung--hp_conf_2.jpeg')
              .ui.bottom.attached.label 2017 5th iGEM Asia-Pacific Conference
          .three.wide.column
            .ui.image#labelImg
              img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/7/7d/T--NCHU_Taichung--hp_conf_3.jpeg')
              .ui.bottom.attached.label iGEM Team Communication
      //-------- section odd--------
      h2.ui.left.aligned.dividing.header Conferences & Meet ups in Other Regions
      .ui.stackable.grid.container
        .row
          .nine.wide.column
            .ui.image#labelImg
              img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/8/89/T--NCHU_Taichung--hp_conf_4.jpeg')
              .ui.bottom.attached.label Huazhong iGEM Conference
          .four.wide.column
            .ui.image#labelImg
              img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/2/21/T--NCHU_Taichung--hp_conf_5.jpeg')
              .ui.bottom.attached.label European Meet Up iGEM 2018(Munich)
          .three.wide.column
            .ui.image#labelImg
              img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/2/24/T--NCHU_Taichung--hp_conf_6.jpeg')
              .ui.bottom.attached.label iGEM Team Communication (Stockholm iGEM)
        .row
          .seven.wide.column
            .ui.image#labelImg
              img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/1/14/T--NCHU_Taichung--hp_conf_7.jpeg')
              .ui.bottom.attached.label The Fifth Conference of China iGEMer Community (CCiC)
          .six.wide.column
            .ui.image#labelImg
              img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/d/d7/T--NCHU_Taichung--hp_conf_8.jpeg')
              .ui.bottom.attached.label The Fifth Conference of China iGEMer Community (CCiC)
          .three.wide.column
            .ui.image#labelImg
              img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/8/8d/T--NCHU_Taichung--hp_conf_9.jpeg')
              .ui.bottom.attached.label iGEM Team Communication (Hebrew iGEM)
        .row
          .sixteen.wide.column
            .ui.image#labelImg
              img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/a/a5/T--NCHU_Taichung--hp_conf_10.jpeg')
              .ui.bottom.attached.label German Meet Up (Marburg)