extends layout
block content
  .ui.segment#topSeg
    h1.ui.hidden.header
    h1.ui.huge.header Judging
    .ui.hidden.header
    h2.ui.dividing.header#Medals Medals
    h3.ui.header Bronze
    ol
      li <b>Registration and Giant Jamboree Attendance</b><br>We have registered for undergraduate team in 2018 iGEM.
    
      li <b>Competition Deliverables<b><br>Follow the Deliverables page in iGEM：<br>We submitted judging form and safety form by the deadline, made a poster and prepared the presentation of our teamwork to show in the Jamboree. Our wiki includes Attributions page and Safety page.
      li <b>Attributions<b><br>We got many helps from professors and other people. They are listed on the Attributions page.
      li <b>Characterization / Contribution<b><br>We engineered an endophyte with membrane transporter, dehalogenase and laccase to intake and break down dioxin, and created biobricks compatible shuttle vector that can express in endophyte. We documented on Part page and submitted by the deadline.
    h3.ui.header Silver
    ol
      li <b>Validated Part / Validated Contribution<b><br>We proved that each constructed basic parts has function, and we also tested our part working. The results are on our Result page.
      li <b>Collaboration<b><br>We collaborated with some teams. Details are on our Collaboration page.
      li <b>Human Practices<b><br>To show our project will make the world better, we went to the public to show our idea. Details can find on Introduction page.
    h3.ui.header Gold
    ol
      li <b>Integrated Human Practices<b><br>To get more information about dioxin degradation, we visited some institutes and went to Vietnam. Details are mentioned on Integrated Human Practice page. 
      li <b>Improve a Previous Part or Project<b><br>We have improved previous part. Please see our improve page, BBa_K2546004.
      li <b>Model Your Project<b><br>We modeled our project. Please see our Model page.
      li <b>Demonstration of Your Work<b><br>We demonstrated our project. Please see our Demonstration page.
    .ui.hidden.header
    h2.ui.dividing.header#Prizes Prizes
    p.longP