extends layout
block memberbox
  #memberbox
    h1.ui.hidden.header 
    h1.ui.header This is member page
    h2.ui.dividing.header Leader
    .ui.link.cards
      .card
        .image
          img(src='https://semantic-ui.com/images/avatar2/large/matthew.png')
        .content
          .header Mr. 孫示且望
          .meta
            a 植病系
          .description
            | 我是且望旺旺旺旺旺旺旺！！！
        .extra.content
          h4.ui.sub.header Work
          .description
            | Wet Lab
      
    h2.ui.dividing.header Wet Lab
    .ui.cards
      .card
        .image
          img(src='https://semantic-ui.com/images/avatar2/large/molly.png')
        .content
          .header Molly
          .meta
            span.date Coworker
          .description
            | Molly is a personal assistant living in Paris.
        .extra.content
          span.right.floated
            | Joined in 2011
          span
            i.user.icon
            |         35 Friends
      .card
        .image
          img(src='https://semantic-ui.com/images/avatar2/large/elyse.png')
        .content
          .header Elyse
          .meta
            a Coworker
          .description
            | Elyse is a copywriter working in New York.
        .extra.content
          span.right.floated
            | Joined in 2014
          span
            i.user.icon
            |         151 Friends
      .card
        .image
          img(src='https://semantic-ui.com/images/avatar2/large/matthew.png')
        .content
          .header Matt Giampietro
          .meta
            a Friends
          .description
            | Matthew is an interior designer living in New York.
        .extra.content
          span.right.floated
            | Joined in 2013
          span
            i.user.icon
            |         75 Friends
      
    h2.ui.dividing.header Human Practice
    .ui.cards
      .card
        .image
          img(src='https://semantic-ui.com/images/avatar2/large/molly.png')
        .content
          .header Molly
          .meta
            span.date Coworker
          .description
            | Molly is a personal assistant living in Paris.
        .extra.content
          span.right.floated
            | Joined in 2011
          span
            i.user.icon
            |         35 Friends
      .card
        .image
          img(src='https://semantic-ui.com/images/avatar2/large/elyse.png')
        .content
          .header Elyse
          .meta
            a Coworker
          .description
            | Elyse is a copywriter working in New York.
        .extra.content
          span.right.floated
            | Joined in 2014
          span
            i.user.icon
            |         151 Friends
