extend layout
block content
  .ui.raised.segment#mainbox
    h1.ui.hidden.header
    .ui.huge.header#top Model
    .segment#padding
      p
      | When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$