.ui.borderless.main.inverted.menu.fixed.grid
  .ui.text.container.tablet.computer.only.row
    a.item(href='http://2018.igem.org/Team:NCHU_Taichung')
      img.logo#logo(src='http://2018.igem.org/wiki/images/7/73/T--NCHU_Taichung--logo3.png')
      //- |         NCHU Taichung
    a.item(href='http://2018.igem.org/Team:NCHU_Taichung') Home
    .ui.dropdown.item
      | Team 
      i.dropdown.icon
      .menu
        a.item(href='./member2.html') Members
        a.item(href='#') Attributions
        a.item(href='#') Collaboration
        a.item(href='#') Sponsers
    .ui.dropdown.item
      | Project
      i.dropdown.icon
      .menu
        a.item(href='#') Description
        a.item(href='#') Design
        a.item(href='#') Experiments
        a.item(href='#') Results
        a.item(href='#') Improve
        a.item(href='#') Safety
        .item
          i.dropdown.icon
          | Parts
          .menu
            a.item(href='#') Over
            a.item(href='#') Basic
            a.item(href='#') Compo
            a.item(href='#') Collection
            a.item(href='#') Improve
    a.item(href='./notebook.html') Notebook 
    .ui.dropdown.item
      | Human Practice
      i.dropdown.icon
      .menu
        a.item(href='#') Human Practices Silver
        a.item(href='#') Integrated Human Practices
        a.item(href='#') Engagement
        a.item(href='#') Entrepreneurship 
        a.item(href='#') Applied Design (Product Design)
  //- sidebar ------------------------
  .ui.text.container.mobile.only.row#sidebar
    a.item(href='./index.html')
      img.logo#logo(src='http://2018.igem.org/wiki/images/7/73/T--NCHU_Taichung--logo3.png')
    div.ui.right.inverted.menu#openSidebar
      a.menu.item
        i.ui.bars.icon
//- sidemenu -------------------
.ui.inverted.menu#sidemenu
  a.item(href='./index.html') Home
  .ui.dropdown.item
    | Team 
    i.dropdown.icon
    .menu
      a.item(href='./member.html') Members
      a.item(href='#') Attributions
      a.item(href='#') Collaboration
      a.item(href='#') Sponsers
  .ui.dropdown.item
    | Project
    i.dropdown.icon
    .menu
      a.item(href='#') Description
      a.item(href='#') Design
      a.item(href='#') Experiments
      a.item(href='#') Results
      a.item(href='#') Improve
      a.item(href='#') Safety
      .item
        i.dropdown.icon
        | Parts
        //- ! submenu here
        .menu#submenu
          a.item(href='#') Over
          a.item(href='#') Basic
          a.item(href='#') Compo
          a.item(href='#') Collection
          a.item(href='#') Improve
  a.item(href='#') Notebook 
  .ui.dropdown.item
    | Human Practice
    i.dropdown.icon
    .menu
      a.item(href='#') Human Practices Silver
      a.item(href='#') Integrated Human Practices
      a.item(href='#') Engagement
      a.item(href='#') Entrepreneurship 
      a.item(href='#') Applied Design (Product Design)


