.ui.borderless.main.inverted.menu.fixed.grid
  .ui.text.container.tablet.computer.only.row
    a.item(href='http://2018.igem.org/Team:NCHU_Taichung')
      img.logo#logo(src='http://2018.igem.org/wiki/images/7/73/T--NCHU_Taichung--logo3.png')
      //- |         NCHU Taichung
    a.item(href='http://2018.igem.org/Team:NCHU_Taichung') Home
    .ui.dropdown.item
      | Project
      i.dropdown.icon
      .menu
        a.item(href='#') Description
        .item
          i.dropdown.icon
          | Background
          .menu#submenu
            a.item(href='#') Endophytes
            a.item(href='#') Phytoremediation
        a.item(href='#') Design
        a.item(href='#') Model
        a.item(href='#') Result
        a.item(href='#') Demonstrate
    .ui.dropdown.item
      | Parts
      i.dropdown.icon
      .menu
        a.item(href='#') Overview
        a.item(href='#') Improve
        a.item(href='#') Basic
        a.item(href='#') Composite
    .ui.dropdown.item
      | Human Practice
      i.dropdown.icon
      .menu
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices') Integrated
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices/Introduction') Introduction
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices/Conference') Conference
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices/Engagement') Engagement
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Entrepreneurship') Entrepreneurship 
    .ui.dropdown.item
      | Lab
      i.dropdown.icon
      .menu
        a.item(href='./notebook') Notebook
        a.item(href='#') Protocol
        a.item(href='#') Safety
    .ui.dropdown.item
      | Team
      i.dropdown.icon
      .menu
        a.item(href='./Member') Members
        a.item(href='#') Attributions
        a.item(href='#') Collaboration
    .ui.dropdown.item
      i.trophy.icon
      .menu
        a.item(href='#') Medals
        a.item(href='#') prizes
  //- sidebar ------------------------
  .ui.text.container.mobile.only.row#sidebar
    a.item(href='./index.html')
      img.logo#logo(src='http://2018.igem.org/wiki/images/7/73/T--NCHU_Taichung--logo3.png')
    div.ui.right.inverted.menu#openSidebar
      a.menu.item
        i.ui.bars.icon
//- sidemenu -------------------
.ui.inverted.menu#sidemenu
  a.item(href='http://2018.igem.org/Team:NCHU_Taichung') Home
  .ui.dropdown.item
    | Project
    i.dropdown.icon
    .menu
      a.item(href='#') Description
      .item
        i.dropdown.icon
        | Background
        .menu#submenu
          a.item(href='#') Endophytes
          a.item(href='#') Phytoremediation
      a.item(href='#') Design
      a.item(href='#') Model
      a.item(href='#') Result
      a.item(href='#') Demonstrate
  .ui.dropdown.item
    | Parts
    i.dropdown.icon
    .menu
      a.item(href='#') Overview
      a.item(href='#') Improve
      a.item(href='#') Basic
      a.item(href='#') Composite
  .ui.dropdown.item
    | Human Practice
    i.dropdown.icon
    .menu
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices') Integrated
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices/Introduction') Introduction
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices/Conference') Conference
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices/Engagement') Engagement
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Entrepreneurship') Entrepreneurship  
  .ui.dropdown.item
      | Team
      i.dropdown.icon
      .menu
        a.item(href='./Member') Members
        a.item(href='#') Attributions
        a.item(href='#') Collaboration
  .ui.dropdown.item
    | Lab
    i.dropdown.icon
    .menu
      a.item(href='./notebook') Notebook
      a.item(href='#') Protocol
      a.item(href='#') Safety
  .ui.dropdown.item
    i.trophy.icon
    .menu
      a.item(href='#') Medals
      a.item(href='#') prizes


