.ui.borderless.main.inverted.menu.fixed.grid
  .ui.text.container.tablet.computer.only.row
    a.item(href='http://2018.igem.org/Team:NCHU_Taichung')
      img.logo#logo(src='http://2018.igem.org/wiki/images/7/73/T--NCHU_Taichung--logo3.png')
      //- |         NCHU Taichung
    a.item(href='http://2018.igem.org/Team:NCHU_Taichung') Home
    .ui.dropdown.item
      | Project
      i.dropdown.icon
      .menu
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Description') Description
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Background') Background
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Design') Design
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Model') Model
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Result') Result
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Demonstrate') Demonstrate
    .ui.dropdown.item
      | Parts
      i.dropdown.icon
      .menu
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Parts') Overview
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Parts_Improved') Improve
    .ui.dropdown.item
      | Human Practice
      i.dropdown.icon
      .menu
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices') Integrated
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices/Introduction') Introduction
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices/Conference') Conference
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices/Engagement') Engagement
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Entrepreneurship') Entrepreneurship 
    .ui.dropdown.item
      | Lab
      i.dropdown.icon
      .menu
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/InterLab') Interlab
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Notebook') Notebook
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Protocol') Protocol
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Safety') Safety
    .ui.dropdown.item
      | Team
      i.dropdown.icon
      .menu
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Team') Members
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Attributions') Attributions
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Collaborations') Collaborations
    .ui.dropdown.item
      i.trophy.icon
      .menu
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Judging#Medals') Medals
        a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Judging#Prizes') Prizes
  //- sidebar ------------------------
  .ui.text.container.mobile.only.row#sidebar
    a.item(href='http://2018.igem.org/Team:NCHU_Taichung')
      img.logo#logo(src='http://2018.igem.org/wiki/images/7/73/T--NCHU_Taichung--logo3.png')
    div.ui.right.inverted.menu#openSidebar
      a.menu.item
        i.ui.bars.icon
//- sidemenu -------------------
.ui.inverted.menu#sidemenu
  a.item(href='http://2018.igem.org/Team:NCHU_Taichung') Home
  .ui.dropdown.item
    | Project
    i.dropdown.icon
    .menu
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Description') Description
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Background') Background
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Design') Design
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Model') Model
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Result') Result
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Demonstrate') Demonstrate
  .ui.dropdown.item
    | Parts
    i.dropdown.icon
    .menu
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Parts') Overview
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Parts_Improved') Improve
  .ui.dropdown.item
    | Human Practice
    i.dropdown.icon
    .menu
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices') Integrated
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices/Introduction') Introduction
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices/Conference') Conference
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Human_Practices/Engagement') Engagement
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Entrepreneurship') Entrepreneurship 
  .ui.dropdown.item
    | Lab
    i.dropdown.icon
    .menu
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/InterLab') Interlab
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Notebook') Notebook
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Protocol') Protocol
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Safety') Safety
  .ui.dropdown.item
    | Team
    i.dropdown.icon
    .menu
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Team') Members
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Attributions') Attributions
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Collaborations') Collaborations
  .ui.dropdown.item
    i.trophy.icon
    .menu
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Judging#Medals') Medals
      a.item(href='http://2018.igem.org/Team:NCHU_Taichung/Judging#Prizes') Prizes


