extend layout
block content
  .ui.raised.segment#mainbox
    h1.ui.hidden.header
    .ui.huge.header#top Parts Improve
    h2.ui.header Engineered part: BBa_J364007 in pSB1C3 to become a shuttle vector (<a href="http://parts.igem.org/BBa_K2546004">BBa_K2546004</a>, <a href="http://parts.igem.org/BBa_K2546007">BBa_K2546007</a>, <a href="http://parts.igem.org/BBa_K2546008">BBa_K2546008</a>)
    p This part is an improvement of BBa_J364007 in pSB1C3. The aim of our project is to engineer endophyte for phytoremediation. To prove our gene work well, we use BBa_J364007, pBBR1, and pMP4657 to get shuttle vector. As phytoremediation become more popular, the broaden rang plant using plasmid become more important. A great shuttle vector let the function of gene work well in different genus bacteria. So, making a shuttle vector is not only for our project but also for other people. pSB1C3 is a common use plasmid. We do a large improve which is changing the Ori of pSB1C3. We ligate Ori from pBBRMCS, or pMP4657 and the rest of BBa_J364007. Thus, we obtain a vector having prefix and suffix that can provide cloning gene. We transform BBa_K2546004 in <i>Burkholderia cenocepacia</i> strain 869T2, and test the efficient of green fluorescence protein. By interlab protocol: Cell growth, sampling, and assay, we can analyze the BBa_K2546004 work.
    p The follow is the assay of BBa_J364007(pSB1C3) in <i>Escherichia coli</i>, BBa_K2546004-GFP in <i>Escherichia coli</i>, and BBa_K2546004-GFP in <i>Burkholderia cenocepacia</i> strain 869T2
    .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://parts.igem.org/wiki/images/f/f5/T--NCHU_Taichung--part20.jpeg')
    .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://parts.igem.org/wiki/images/c/cb/T--NCHU_Taichung--part21.jpeg')
    .ui.hidden.header
    p  The quantity of GFP/per OD performed by BBa_J364007 (pSB1C3) in <i>Escherichia coli</i>, BBa_K2546004-GFP in <i>Escherichia coli</i>, and BBa_K2546004-GFP in <i>Burkholderia cenocepacia</i> Strain 869T2.
    .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://parts.igem.org/wiki/images/c/cb/T--NCHU_Taichung--part21.jpeg')
    