extends layout
block content
  .ui.left.very.close.rail#railMenu
    .ui.sticky
      .ui.secondary.vertical.pointing.menu
        a.active.item(href='#VETIVER')
          | Experiments on Vetiver
        a.item(href='#ProteinPurification')
          | Protein Purification
        a.item(href='#Arabidopsis')
          | Arabidopsis
        a.item(href='#HAD_activity')
          | Screen of HAD activity
        a.item(href='#Toxicology-CellViabilityTest')
          | Toxicology-Cell Viability Test
        a.item(href='#Improved-part')
          | Improved part
        a.item(href='#GrowthofRecombinantBacteria')
          | The Growth of Recombinant Bacteria in TCDD Medium
  .ui.segment#mobileRailMenu
    .ui.sticky
      .ui.secondary.vertical.pointing.menu
        a.active.item(href='#VETIVER')
          | Experiments on Vetiver
        a.item(href='#ProteinPurification')
          | Protein Purification
        a.item(href='#Arabidopsis')
          | Arabidopsis
        a.item(href='#HAD_activity')
          | Screen of HAD activity
        a.item(href='#Toxicology-CellViabilityTest')
          | Toxicology-Cell Viability Test
        a.item(href='#Improved-part')
          | Improved part
        a.item(href='#GrowthofRecombinantBacteria')
          | The Growth of Recombinant Bacteria in TCDD Medium
  .ui.segment#topSeg
    h1.ui.hidden.header
    h1.ui.huge.header Result
    h2.ui.dividing.header#VETIVER THE RESULTS OF EXPERIMENTS ON VETIVER
    .ui.hidden.header
    h3.ui.header Phenotype Comparison
    .ui.grid
      .eight.wide.column#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/1/13/T--NCHU_Taichung--VETIVER1.png')
        .ui.pointing.label Figure 1. Vetiver+TCDD+869T2
      .eight.wide.column#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/c/c7/T--NCHU_Taichung--VETIVER2.jpg')
        .ui.pointing.label Figure 2. Vetiver+TCDD
    p Before the experiment was started, vetiver plants were transplanted from field to greenhouse and grew under the same settings for 30 days.  After the above pretreatment, we started the experiments with triple replication of four different treatment (Table 1) and then having analyses on some observable phenotypic characteristics.
    table.ui.definition.center.aligned.celled.table
      option.ui.center.aligned.small.header Table 1 
      thead
        tr
          th
          th Label N
          th Label B
          th Label H
          th Label I
      tbody
        tr
          td.right.aligned <i>B. cenocepacia 869T2</i>
          td X
          td O
          td X
          td O
        tr  
          td.right.aligned TCDD 
          td X
          td X
          td O
          td O
    p We found that if we inoculate vetiver plants with <i>B. cenocepacia 869T2</i>, the bacteria will decrease the length of leaves but increase the number of tillers and leaves; inhibit the grow of main roots but enhance the strong lateral roots’ formation (we also see the same influence during the experiment of Arabidopsis thaliana). (Figure1 - Figure7)
    p Vetiver plants will get some negative influence when facing to TCDD stress. For example, their leaves number, leaves length, and roots length will not grow well as where growing under the general condition without TCDD. However, not only as above mentioned that Vetiver plants' leaves number and tiller will dramatically increase when they are inoculated with endophytic bacteria <i>B. cenocepacia 869T2</i> but if the vetiver plants are also in the TCDD treatment in same time, this effect seems quite more obvious.
    p Therefore, we can understand that the endophytic bacteria <i>B. cenocepacia strain 869T2</i> can not only survive in high TCDD concentration condition and do some positive effect on its host but also can use the TCDD as a kind of resource for itself to achieve something that still unrevealed.
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/8/8b/T--NCHU_Taichung--VETIVER3.png')
      .ui.pointing.label Figure 3. Vetiver plants’ leaves number in the different treatments.
      .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/6/68/T--NCHU_Taichung--VETIVER4.png')
      .ui.pointing.label Figure 4. Phenotypes of vetiver plants’ overground part in the different treatments.
      .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/e/e1/T--NCHU_Taichung--VETIVER5.png')
      .ui.pointing.label Figure 5. Vetiver plants’ leaves length in the different treatments.
      .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/f/f3/T--NCHU_Taichung--VETIVER6.png')
      .ui.pointing.label Figure 6. Vetiver plants’ roots number in the different treatments.    
      .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/5/5d/T--NCHU_Taichung--VETIVER7.png')
      .ui.pointing.label Figure 7. Phenotypes of vetiver plants’ underground part in the different treatments.
      .ui.hidden.header
    //--------------
    h3.ui.dividing.header ENDOPHYTIC BACTERIA EXIST RECHECK
    .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/2/2b/T--NCHU_Taichung--VETIVER8.png')
      .ui.pointing.label Figure 8. Recheck of 30 days after endophytic bacteria inoculation.
      .ui.hidden.header
    p On day 30, we harvested the vetiver plants for rechecking whether endophytic bacteria still exist.
    p First, we used bleach, EtOH, and sterile water to surface-sterilize plants.  Second, we ground the vetiver plants completely and dilute the ground liquid with 10 times, and then spread it into LB agar plate for culturing the target bacteria.  Last, we observe the morphology of a single colony to check the two bacteria.  A single colony of <i>B. cenocepacia 869T2</i> is small, circular, entire, raised, glistening veined, yellow-green.  Also, there have no any bacteria present in the control sample.
    p Accordingly, we know that <i>B. cenocepacia 869T2</i> has a great endophytic character and can live in vetiver plants for at least 30 days during our experiment.
    //--------------
    .ui.hidden.header
    h3.ui.dividing.header Analysis of TCDD concentration in plants
    p The concentration of dioxin in the plant samples in our experiment was tested by Worthies Engineering Consultant Co., Ltd. according to the "Test Method for Dioxin and Polychlorinated Biphenyl Residues in Food (CNS 14758 N6369)" published by the MOHW of Executive Yuan.
    p As the following report presents, the sample which had not been inoculated with <i>B. cenocepacia 869T2</i> but planted in TCDD contained matrix directly was be detected that having 343.253 pg/g TCDD concentration (Table 2) ; the sample which had been inoculated with <i>B. cenocepacia 869T2</i> and then planted in TCDD contained matrix was be detected that having 2.12257 pg/g TCDD concentration (Table 3) .   
    p The vetiver plants inoculated with <i>B. cenocepacia 869T2</i> shows about 162 times less TCDD concentration than the plants didn't be inoculated.  Based on this result, it becomes much more solid for us to point out that the endophytic bacteria <i>B. cenocepacia 869T2</i> has the super strong TCDD degradation ability and therefore has the highly potential to act an extremely important role in our program. 
    .ui.center.aligned.small.header Table 2. Analysis report of sample didn’t inoculate with <i>B. cenocepacia 869T2</i>
    .ui.fluid.image
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/1/1e/T--NCHU_Taichung--VETIVER9.png')
      .ui.hidden.header
    .ui.center.aligned.small.header Table 3. Analysis report of sample did inoculate with <i>B. cenocepacia 869T2</i>
    .ui.fluid.image
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/c/c6/T--NCHU_Taichung--VETIVER10.png')
      .ui.hidden.header
  //---------------------------
  .ui.olive.segment#ProteinPurification
    h1.ui.hidden.header
    h2.ui.header Protein purification
    h3.ui.dividing.header HAD purification (use Immobilized Metal Affinity Chromatography )
    //--------------
    .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/1/16/T--NCHU_Taichung--pur1.png')
      .ui.pointing.label HAD cloned in PET system is overexpressed successfully in E.coli
      .ui.hidden.header
    h3.ui.dividing.header Laccase purification result (use Immobilized Metal Affinity Chromatography )
    //--------------
    .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/7/76/T--NCHU_Taichung--pur2.png')
      .ui.pointing.label Laccase cloned in PET system somehow is not overexpressed in E.coli 
      .ui.hidden.header
  //---------------------------
  .ui.olive.segment#Arabidopsis
    h1.ui.hidden.header
    h2.ui.header Arabidopsis
    h3.ui.dividing.header Figure 1.
      .sub.header Morphological effects caused by TCDD on <i>A. thaliana</i>. 
    .ui.hidden.header
    .ui.grid
      .eight.wide.column#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/0/02/T--NCHU_Taichung--arabi1.png')
        .ui.pointing.label (a) Morphological anomalies in <i>A. thaliana</i> as response to TCCD-exposure after 14 days at indicated concentrations (0ppm). 
      .eight.wide.column#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/2/25/T--NCHU_Taichung--arabi2.png')
        .ui.pointing.label (a) Morphological anomalies in <i>A. thaliana</i> as response to TCCD-exposure after 14 days at indicated concentrations (0.05ppm). 
      .eight.wide.column#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/9/9b/T--NCHU_Taichung--arabi3.png')
        .ui.pointing.label (b) The phenotype of <i>A. thaliana</i> after grow 14 days without TCDD.
      .eight.wide.column#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/e/ed/T--NCHU_Taichung--arabi4.png')
        .ui.pointing.label (b) The phenotype of <i>A. thaliana</i> after grow 14 days with TCDD.
    .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/c/c8/T--NCHU_Taichung--arabi5.png')
      .ui.pointing.label (c) Four average data with or without TCDD show on <i>A. thaliana</i> .
      .ui.hidden.header
    h3.ui.dividing.header Figure 2.
    .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/1/1e/T--NCHU_Taichung--arabi6.png')
      .ui.pointing.label <i>Arabidopsis thaliana</i> after 10 days TCDD exposure and <i>Burkholderia cenocepacia</i> 869T2 inoculation.
      .ui.hidden.header
    p.longP We analyzed the effects of 2, 3, 7, 8-TCDD on the growth of <i>A. thaliana</i> for 14 days. Morphologically, the roots and leaves of <i>A. thaliana</i> are very different: First, the difference between the control plants(TCDD-) and the experimental plants (TCDD+) is 15 mm. The experimental plants are twice shorter than the control plants. ( Fig. 1a) Second, the experimental plants are smaller and weaker than the control plants. ( Fig. 1b) This information indicated that the existence of TCDD provoked important morphological difference in <i>A. thaliana</i>. In another result of experiment, we also find the roots of the <i>A. thaliana</i> inoculated with <i>Burkholderia cenocepacia</i> 869T2 are particularly different: their roots are short but very strong, their leaves are small but dark green. And the most difference is that inhibit the grow of main roots but enhance the strong lateral roots. ( Fig. 2) This information can be used as a reference in the future.
    h3.ui.dividing.header Figure 3.
      .sub.header The result of inoculating endophytic bacteria in <i>Arabidopsis</i> plants for 7 days.
    .ui.hidden.header
    .ui.grid
      .eight.wide.column#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/7/77/T--NCHU_Taichung--arabi3-1.png')
        .ui.pointing.label (a) <i>Burkholderia cenocepacia</i> 869T2 exist for 7 days in <i>A. thaliana</i>. 
      .eight.wide.column#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/1/18/T--NCHU_Taichung--arabi3-2.png')
        .ui.pointing.label (b) <i>B. phytofirmans</i> PsJN exist for 7 days in <i>A. thaliana</i>. 
      .eight.wide.column#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/4/4c/T--NCHU_Taichung--arabi3-3.png')
        .ui.pointing.label (c) <i> B. cenocepacia</i> 869T2 exist for 7 days with 0.05 ppm of TCDD in <i>A. thaliana</i>.
      .eight.wide.column#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/1/18/T--NCHU_Taichung--arabi3-4.png')
        .ui.pointing.label (d) <i>B. phytofirmans</i> PsJN exist for 7 days with 0.05 ppm of TCDD in <i>A. thaliana</i>.
    h3.ui.dividing.header Figure 4.
      .sub.header The result of inoculating endophytic bacteria in <i>Arabidopsis</i> plants for 14 days.
    .ui.hidden.header
    .ui.grid.center.aligned
      .row
        .eight.wide.column#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/7/7b/T--NCHU_Taichung--arabi4-a-1.png')
        .eight.wide.column#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/5/5a/T--NCHU_Taichung--arabi4-a-2.png')
      .row
        .ui.label (a) <i>Burkholderia cenocepacia</i> 869T2 exist for 14 days in <i>A. thaliana</i>.
      .row
        .eight.wide.column#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/5/5d/T--NCHU_Taichung--arabi4-b-1.png')
        .eight.wide.column#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/0/0a/T--NCHU_Taichung--arabi4-b-2.png')
      .row
        .ui.label (b) <i>B. phytofirmans</i> PsJN exist for 14 days in <i>A. thaliana</i>. 
      .row
        .eight.wide.column#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/9/92/T--NCHU_Taichung--arabi4-c-1.png')
        .eight.wide.column#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/9/9d/T--NCHU_Taichung--arabi4-c-2.png')
      .row
        .ui.label (c) <i>B. cenocepacia</i> 869T2 exist for 14 days with 0.05 ppm of TCDD in <i>A. thaliana</i>. 
      .row
        .eight.wide.column#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/d/d2/T--NCHU_Taichung--arabi4-d-1.png')
        .eight.wide.column#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/7/79/T--NCHU_Taichung--arabi4-d-2.png')
      .row
        .ui.label (d) <i>B. phytofirmans</i> PsJN exist for 14 days with 0.05 ppm of TCDD in <i>A. thaliana</i>.
    .ui.hidden.header
    p.longP We test two endophitic bacteria (<i>Burkholderia cenocepacia</i> 869T2 and <i>Burkholderia phytofirmans</i> PsJN) how long they exist in <i>Arabidopsis thaliana</i>. In the beginning, we inoculate <i>B. cenocepacia</i> 869T2 and <i>B. phytofirmans</i> PsJN with OD600=0.4 into<i> Arabidopsis</i> plants. On the seventh and fourteenth day, we collect the sample of experiment. Before grinding the plants, we wash them for sterile water and confirm whether we wash the surface bacteria on <i>Arabidopsis</i> plants. Then, we grind the <i>Arabidopsis</i> plants and dilute their liquid with 10 times, and put it to LB plate for 30℃ during a day. After a day, we observe the morphology of a single colony to check the two bacteria. A single colony of <i>B. cenocepacia</i> 869T2 is small, circular, entire, raised, glistening veined, yellow-green, and <i>B. phytofirmans</i> PsJN is very small, circular, entire, raised, rough, white. (the right picture of Fig. 3) The result was consistent with a single colony of two bacteria. Moreover, the washing water does not see any bacteria. (the left picture of Fig. 3) Therefore, no matter which bacteria with or without TCDD plate in <i>Arabidopsis</i> plants they stay, all of two show the endophytic character in <i>Arabidopsis</i> plants.
  //---------------------------
  .ui.olive.segment#HAD_activity
    h1.ui.hidden.header
    h2.ui.header Screen of HAD activity
    p.longP We have a substrate called 2-chloropropionic acid (2-CPA) for HAD activity test.HAD can take off chloride anion from the substrate;thus, we can then add silver cation to the solution to form silver chloride,which is white precipitate.When silver chloride is exposed to light,it will become hydrogen gas and silver.Therefore, if the solution contains more chloride anion,the color of silver will be deeper.
    h4.ui.teal.header.label Result: our HAD works!!!
    .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/d/d2/T--NCHU_Taichung--had.png')
      .ui.hidden.header
  //---------------------------
  .ui.olive.segment#Toxicology-CellViabilityTest
    h1.ui.hidden.header
    h2.ui.header Toxicology-Cell Viability Test
    .ui.hidden.header
    h3.ui.header MTT assay
    p.longP Viability of cells was assessed by measuring the formation of a formazan from MTT spectrophotometric assay test, modified after Mosmann’s (1983) study. HEP G2 were incubated with 0.5 mg/mL MTT for 2 hours at 37°C at the end of the experiment. After washing with DMSO, the purple formazan was extracted from cells and was photometrically determined at 595 nm.
    h3.ui.header Results (36hrs)
    p.longP The results of cell viability measured by MTT assay is shown in Figure 1. After incubating in CO<sub>2</sub> incubator for 36 hours and assayed in vitro on the HEP G2 cells using the MTT assay, the values for the 0.25, 12.5 and 62.5 nM TCDD-treated cells ranged from 0.34-to 0.18-fold lower than that for the primary human HEP G2, respectively. However, the two concentrations of HAD (10, and 20μM) provided in vitro activities on cell viability against the tested TCDD compound. As the following picture, the decrease in the level of enzyme reached statistical significance at 10, and 20μM concentrations of DHA against TCDD toxicity.
    .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/4/49/T--NCHU_Taichung--tox.png')
      .ui.pointing.label Figure 1.
      .ui.hidden.header
    h3.ui.header Reference
    ol.ui.list 
      li(value='・') T. H., G. F., & Y. M. (2016). Ameliorative effects of docosahexaenoic acid on the toxicity induced by 2,3,7,8-tetrachlorodibenzo-p-dioxin in cultured rat hepatocytes. <i>Toxicol Ind Health</i>, 32(6), 1074-1085.
  //---------------------------
  .ui.olive.segment#Improved-part 
    h1.ui.hidden.header
    h2.ui.header Improved part 
      .sub.header Engineer part: BBa_J364007 in pSB1C3 to become a shuttle vector (BBa_K2546004) 
    .ui.hidden.header
    p.longP Using restriction enzyme and Polymerase Chain Reaction, we replace the Ori of BBa_J364007 in pSB1C3. This make plasmid become a shuttle vector which can replicate in broad host range. Checking this plasmid with EcoRI and PstI or XbaI and SpeI to see if the plasmid be cut off. By two groups of restriction enzymes, the result will get two band:5389bp and 1100bp (figure 1). It is also an evidence shows that our plasmid have prefix and suffix. With prefix and suffix, anyone can easily use our vector to perform the function of gene well. Moreover, we use interlab protocol ‘Cell growth, sampling, and assay’, to test the performance of Green Fluorescent Protein(GFP) of BBa_K2546004-GFP. The result reveals that BBa_K2546004-GFP can express GFP well in <i>Burkholderia cenocepacia</i> Strain 869T2. It even have much higher efficient to express GFP than the original plasmid: BBa_J364007 in pSB1C3 in  <i>Escherichia coli</i>(figure 2,figure 3). Therefore, we prove BBa_J364007 in pSB1C3 to replicate in <i>Burkholderia cenocepacia</i> Strain 869T2, and prove the efficient of expressing GFP.
    .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/9/9c/T--NCHU_Taichung--impp1.png')
      .ui.pointing.label Figure 1. BBa_K2546004 RE digestion result: Using EcoRI and PstI or XbaI and SpeI to proof that we have complete BBa_K2546004
      .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/2/2e/T--NCHU_Taichung--impp2.png')
      .ui.pointing.label The evidence of RFP in BBa_K2546004
      .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/a/a2/T--NCHU_Taichung--impp3.png')
      .ui.pointing.label The colony of BBa K2546004 and BBa J044500-pSB1C3 on plate
      .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/e/e5/T--NCHU_Taichung--impp4.png')
      .ui.pointing.label Figure 2. the quantity of GFP performed by BBa_J364007(pSB1C3) in <i>Escherichia coli</i>, BBa_K2546004-GFP in <i>Escherichia coli</i>, and BBa_K2546004-GFP in <i>Burkholderia cenocepacia</i> Strain 869T2.
      .ui.hidden.header
    .ui.fluid.image#labelImg
      img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/3/32/T--NCHU_Taichung--impp5.png')
      .ui.pointing.label Figure 3. the quantity of GFP/per OD performed by BBa_J364007(pSB1C3) in <i>Escherichia coli</i>, BBa_K2546004-GFP in <i>Escherichia coli</i>, and BBa_K2546004-GFP in <i>Burkholderia cenocepacia</i> Strain 869T2.
      .ui.hidden.header
  //----------------------------
  .ui.olive.segment#GrowthofRecombinantBacteria 
    h1.ui.hidden.header
    h2.ui.header The Growth of Recombinant Bacteria in TCDD Medium
    .ui.hidden.header
    p.longP The growth curves of the recombinant bacteria under different TCDD concentration treatments were tested to dissect the functions. 
    .ui.hidden.header 
    h3.ui.header  Single gene construct
    ol 
      li Both pET24a/HAD construct and the vector control pET24a grew similar in the medium without TCDD . The strain HAD construct display better growth compare to control with 0.05ppm, 0.1ppm TCDD treatment (Fig. 1). This result indicated that HAD promoted the bacteria growth under TCDD treatment as expect.
        .ui.hidden.header
        .ui.fluid.image#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/4/49/T--NCHU_Taichung--tox.png')
          .ui.pointing.label Figure 1. BBa_K2546004 RE digestion result: Using EcoRI and PstI or XbaI and SpeI to proof that we have complete BBa_K2546004
          .ui.hidden.header
      li pET21b/TonB construct grew worse under higher concentration (0.1ppm, 0.2ppm) of TCDD than the lower one (0ppm, 0.05ppm) (Fig. 2 ) . It may result from the transporter protein TonB that intake TCDD may be toxic to the cell.
        .ui.hidden.header
        .ui.fluid.image#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/4/49/T--NCHU_Taichung--tox.png')
          .ui.pointing.label Figure 1. BBa_K2546004 RE digestion result: Using EcoRI and PstI or XbaI and SpeI to proof that we have complete BBa_K2546004
          .ui.hidden.header
      li The growth of strain TLcc declined in high TCDD concentration (Fig. 3). In our hypothesis, TLcc degrades TCDD, but it’s possible that the free radical attack the ring structure and cause damages to bacteria as shown in our results.
        .ui.hidden.header
        .ui.fluid.image#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/4/49/T--NCHU_Taichung--tox.png')
          .ui.pointing.label Figure 1. BBa_K2546004 RE digestion result: Using EcoRI and PstI or XbaI and SpeI to proof that we have complete BBa_K2546004
          .ui.hidden.header
    h3.ui.header Dual genes 
    ol 
      li The growth of strain HAD+TonB didn’t show defect impact compared to control (pET24a+pET21b) under high TCDD concentration (Fig. 4). The growth of HAD+TLcc (J23100) displayed slightly inhibited by TCDD compare to control J23100 (Fig. 5). These results may indicate that the two construct, HAD+TonB and HAD+TLcc, function in the bacteria that detoxify TCDD. 
        .ui.hidden.header
        .ui.fluid.image#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/4/49/T--NCHU_Taichung--tox.png')
          .ui.pointing.label Figure 1. BBa_K2546004 RE digestion result: Using EcoRI and PstI or XbaI and SpeI to proof that we have complete BBa_K2546004
          .ui.hidden.header
        .ui.hidden.header
        .ui.fluid.image#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/4/49/T--NCHU_Taichung--tox.png')
          .ui.pointing.label Figure 1. BBa_K2546004 RE digestion result: Using EcoRI and PstI or XbaI and SpeI to proof that we have complete BBa_K2546004
          .ui.hidden.header
    h3.ui.header Three genes construct (tested pathway)
    ol
      li TonB+HAD+TLcc (J23100) had better growth with 0, 0.05, 0.1ppm TCDD treatment (Fig. 6). This indicated that the toxicity effect of TCDD can be detoxified due to the synergistic functions of the three genes-the uptake of TonB transporter, reduced by HAD enzyme, and breaking down by the laccase. 
        .ui.hidden.header
        .ui.fluid.image#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/4/49/T--NCHU_Taichung--tox.png')
          .ui.pointing.label Figure 1. BBa_K2546004 RE digestion result: Using EcoRI and PstI or XbaI and SpeI to proof that we have complete BBa_K2546004
          .ui.hidden.header
      li The toluene is taken as the solvent control of TCDD which didn’t cause much influence to the growth of bacteria (Fig. 7). 
       .ui.hidden.header
       .ui.fluid.image#labelImg
          img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/4/49/T--NCHU_Taichung--tox.png')
          .ui.pointing.label Figure 1. BBa_K2546004 RE digestion result: Using EcoRI and PstI or XbaI and SpeI to proof that we have complete BBa_K2546004
          .ui.hidden.header
    .ui.hidden.header
    //- h3.ui.header 
    //- .ui.fluid.image#labelImg
    //-   img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/4/49/T--NCHU_Taichung--tox.png')
    //-   .ui.pointing.label Figure 1. BBa_K2546004 RE digestion result: Using EcoRI and PstI or XbaI and SpeI to proof that we have complete BBa_K2546004
    //-   .ui.hidden.header
  //----------------------------
    .ui.grid
      .eight.wide.column#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/1/13/T--NCHU_Taichung--VETIVER1.png')
        .ui.pointing.label (a) Morphological anomalies in <i>A. thaliana</i> as response to TCCD-exposure after 14 days at indicated concentrations (0ppm, 0.05ppm). 
      .eight.wide.column#labelImg
        img.ui.image.clmnImg(src='http://2018.igem.org/wiki/images/c/c7/T--NCHU_Taichung--VETIVER2.jpg')
        .ui.pointing.label (b) The phenotype of <i>A. thaliana</i> after grow 14 days with or without TCDD.